.container
  .content
    %table{class: "table table-striped"}
      %thead
        %tr
          %td{colspan: '5'}<
            %h2 Books

        -@books.each do |book|
          %tr
            %td
              %a{:href => "/books/#{book['slug']}"}= book['title']
            %td= book['author']["name"]

        %tr
          %th{colspan: '5', class: 'header', style: 'text-align:left'} 


    %a{:href => "/books/new", :class => "btn"} new book