.content
  .container
    .row
      .span12
        %form{ :action => "", :method => "post"}
          %h1< 
            Note 
            %a{:href => '/books/' + @book["slug"]} #{@book["title"]}
            
          %br
          %p Note:
          %input.form-input{ :name => "note", :type => "textarea"}
          %br
          %br
          %input.btn{ :name => "submit", :type => "submit", :value => "Submit"}


