.container
  .content
    %table{class: "table table-striped"}
      %thead
        %tr
          %td{colspan: '5'}<
            %h2= @book["title"]


        -@book.keys.each do |attribute|
          %tr
            %td{colspan: '3'}<
              %b= attribute
            %td{colspan: '5'}= @book[attribute]

        %tr
          %th{colspan: '5', class: 'header', style: 'text-align:left'} 



    %a{:href => "/books/#{@book['slug']}/notes", :class => "btn"} add a note