.container-fluid
	.row-fluid
		.span3
			.well.sidebar-nav
				%ul.nav-list.nav
					%li.nav-header
						This is an example web application using Ruby, Sinatra, Haml, Bootstrap and MongoDB.
						<br/><br/>                     
						It allows a user to store book and author information and illustrates common schema patterns.
						<br/><br/>
						It is built by
						%a{:href => 'http://www.linkedin.com/in/emilystolfo'} Emily Stolfo
						based on worked done by
						%a{:href => "http://spf13.com"} spf13
						and 
						%a{:href => "https://github.com/ghostandthemachine/sinatra-haml-bootstrap-fluid"}ghostandthemachine 
						<br/>                                  
						It allows a user to store book and author information and illustrates common schema patterns.
						<br/><br/>
						It uses the following gems:
						%ul
							%li Bundler
							%li Shotgun
							%li Rack
							%li Haml
							%li Mongo
							%li Vlad the Deployer
	
		.span9
			.hero-unit{:style => 'height:450px;margin:auto;'}
				%image{:style => "height:100%;", :src => "/images/bookshelf.jpeg" }
