.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{ "data-toggle".to_sym => "collapse", "data-target".to_sym => ".nav-collapse"}
        %span.icon-bar
          %span.icon-bar
            %span.icon-bar
              %a.brand{:href => '/'} Library
      .nav-collapse
        %ul.nav
          %li
            %a{:href => '/'}Books
          %li
            %a{:href => '/about'}About
          -unless logged_in?
            %li
              %a{:href => '/register'}Register
        %p.navbar-text.pull-right
          -if logged_in?
            %a{:href => "/user/" << @user.email.to_s << "/dashboard"} 
              %image{:height => 30, :width => 30, :src => "http://www.gravatar.com/avatar/" << @user.email_hash.to_s << '.png' }
              #{@user.email} 
            |
            %a{:href => "/logout" } Logout

          -else
            %a{:href => '/login'} Login
