.container
  .content
    .page-header
      -unless @user == nil?
        %a{href: "/user/" << @user.email.to_s << "/profile"}<
          %image{src: "http://www.gravatar.com/avatar/" << @user.email_hash.to_s << '.png'}
        %br<
        %br
        %h2= "Book count: #{@book_count}"
        %h2= "Unique author count: #{@author_count}"
      -else
        redirect '/'
    .container#main-topic-nav
