.container
  .content
    .page-header
      -unless @user == nil?
        %h2="Dashboard"
        %br
        %image{src: "http://www.gravatar.com/avatar/" << @user.email_hash.to_s << '.png'}

        %h3= @user.name.to_s
      -else
        redirect '/'
      %small
        %a{href: "/user/" << @user.email.to_s << "/profile"} profile
    .container#main-topic-nav
